*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
     font-family: "Lato", sans-serif;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.heading p{
    font-size: 1.1rem;
    font-style: italic;
    color: #4b4a4a;
    margin-bottom: 10px;
}
.heading--white{
color: #fff;
}
.heading--white p{
    color: #fff;
}
.spacing{
    padding: 85px 20px;
}
header{
    background-color: black ;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
}
header ul{
    margin: 0;
}
.nav__item{
    z-index: 999;
}
header > nav > ul > li{
list-style: none;
}
header > nav > ul > li:hover{
    background-color: #ccc;

}
header > nav > ul > li:hover a{
    color: #000;
}
header > nav > ul > li:hover i{
    color: #000;
}
header nav ul{
    display: flex;
}
header nav > ul a{
text-decoration: none;
padding: 12px 24px;
display: block;
color: #fff;
font-size: 1.1rem;
text-transform: uppercase;
}
header nav > ul a:hover{
    background-color: #ccc;
}
.header__search > i{
    color: #fff;
    font-size: 1.1rem;
    padding: 14px 24px;
}
.header__search>i:hover {
background-color: #be0404;
}
.nav__more{
    display: flex;
    position: relative;
    align-items: center;
}
.nav__more .nav__item{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 150%;
    opacity: 0;
}
.nav__more:hover .nav__item{
    opacity: 1;
}
.nav__more > a{
    padding-right: 5px;
}
.nav__more > i{
    color: #fff;
    padding-right: 24px;
}
.nav__more .nav__item a{
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 10px 5px;
}
.carouselTheBand  .carousel-item{
    height: 700px;
}
.band__content{
    max-width: 800px;
    margin:0 auto;
}
.band__content > p{
text-align: justify;
line-height: 1.2rem;
word-spacing: 1px;
}
.band__member{
    display: flex;
    justify-content: space-around;
}
.band__item{
    width: 160px;
}
.band__item h5{
    padding-bottom: 20px;
    text-align: center;
    font-size: 1rem;
}
.band__item img{
    width: 100%;
}

.tourDate{
    background-color: black;
}
.tour__content{
    max-width: 800px;
    margin: 0 auto;
}
.tour__date{
    background-color: #fff;
    margin: 25px 0;
}
.tour__date ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tour__date ul li{
    display: flex;
    border-bottom: 1px solid #ddd;
}
.tour__date li p{
    opacity:0.6 ;
    margin: 15px;
}
.tour__date li .tour__dateSale{
    opacity: 1;
    background-color: rgb(233, 42, 42);
    color: #fff;
    padding: 0 7px;
}
.tour__date li .tour__dateThree{
    opacity: 1;
    margin-left: auto;
    margin-right: 30px;
    background-color: #000;
    padding: 1px 10px;
    color: #fff;
    border-radius: 50%;
}
.tour__tickets{
    display: flex;
    justify-content: space-between;
}
.tour__item{
    background-color: #fff;
    width: 32%;
}
.tour__item img{
    width: 100%;
}
.tour__item h6{
    font-size: 1.1 rem;
    padding: 20px 10px;
    margin: 0;
}
.tour__item p{
    margin: 0;
}
.tour__item p:first-of-type{
opacity: 0.6;
padding: 0 0 20px 10px;
}
.tour__item p:last-of-type{
    padding-left: 10px;
    line-height: 1.4rem;
}
.tour__item button{
    padding: 10px 20px;
    margin: 15px 10px;
    border: none;
    background-color: #000;
    color: #fff;
}
.tour__item button:hover{
    background-color: #ccc;
    color: #000;
}
.contact__content{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.contact__left .contact__item{
display: flex;
margin-bottom: 5px;
align-items: center;
}
.contact__left .contact__item p{
    font-size: 1.2rem;
    margin: 0;
    margin-left: 20px;
}
.contact__right .contact__input{
    display: flex;
    margin-bottom: 10px;
}
.contact__right input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact__input input:first-of-type{
margin-right: 20px;
}
.contact__right button{
    float: right;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1.1rem;
    border: none;
    background-color: #000;
    color: #fff;
}
.contact__right button:hover{
    background-color: #ccc;
    color: #000;
}
.imagine{
    background-image: url('../IMG/tham-san-cau-long-khong-the-thieu-cho-cac-nha-thi-dau-01.png');
    width: 100%;
    height: 700px;
    background-size: cover;
    filter: grayscale(50%);
    margin: 85px 0;

}
footer{
    counter-reset: #a0a0a0;
    text-align: center;
    margin-bottom: 85px;
}
footer .footer__icon{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
footer p a{
    color: #a0a0a0;
}
.carousel-item img{
    opacity: 1;
}